<div>
    <div style="display: block" align="center">
        <h2> REPORTE DE COLORES</h2>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">     
        </canvas>
        <br>
        <br>
        <h2>REPORTE DE VOCALES</h2>

        <canvas baseChart [datasets]="barChartDat" [labels]="barChartLabel" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
    </div>

</div>